.form {
    /* Just to center the form on the page */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
}
label{
    margin: auto;
}
.group{
    display: flex;
    flex-direction: column;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.form li + li {
    margin-top: 1em;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings By default, textareas have a monospace font */
    font: 1em sans-serif;
    /* To give the same size to all text fields */
    width: 100%;
    box-sizing: border-box; /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;
    /* To give enough room to type some text */
    height: 5%;
}




#homeform{
    margin-top: 5%;
}
.popup, .popup2 {
    background-color: white;
    width: 30%;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
}
.popup button, .popup2 button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: grey;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup p, .popup2 p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}

#close{
    margin-bottom: 0%;
}













.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.photos img:hover{
    filter: contrast(5);
    /*flex-grow: initial;*/
}
.col_title{
    display: none;
}
.skip:focus {
    position: static;
    width: auto;
    height: auto;
}
header{
    background-color: lightblue;
}
body {
    background-color:white;
}
.bar{
    width: 100%;
    background-color: transparent;
}
.title, .nav-links a, .active a{
    padding: 14px 16px;
    color: black;
    font-size: x-large;
}
.title{
    display: block;
    text-align: center;
    padding-bottom: 2px;
    font-size: xx-large;
    /*font-size: 500%;*/
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.nav-links a, .active a{
    display: block;
    font-size: 15px;
}

.nav-links a:hover, .active a:hover{
    background-color: lightgray;
    text-decoration: none;
}
.nav-links a:link{
    text-decoration: none;
}
.nav-links a:visited{
    text-decoration: none;
}
.nav-links a:active, .active a:active{
    text-decoration: none;
}

.genres{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 50% 50%;
}

video{
    width: 100%;
    height: 100%;
}

.genre_text, .gen_text{
    display: block;
    padding: 10px;
    border: 2px dashed black;
    border-radius: 20px;
    overflow: scroll;
    font-style:oblique;

}

.genre_text {
    color:darkslategray;
}

.gen_text{
    background-color: lightblue;
    overflow: scroll;
    color: darkblue;
}
.gen_text:hover{
    border:2px dashed white;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


.container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 1.5% 10.4% 10.4% 10.4%);
}

.type_title{
    grid-column: span 2;
    font-size: x-large;
    margin: auto;
    justify-content: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.photos{
    display: flex;
    flex-wrap: wrap;
}
.photos img{
    width: 100%;
}


@media screen and (min-width: 600px) {
    .photos img{
        width: 50%;
    }
    .navbar{
        flex-direction: row;
    }
    .genres{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 3% repeat(4, 23%);
    }
    .col_title{
        display: block;
        margin: auto;
        text-decoration: underline;
    }
    #el1{
        grid-row: 2;
        grid-column: 1;
    }
    #el2{
        grid-row: 2;
        grid-column: 2;
    }
    #el3{
        grid-row: 2;
        grid-column: 3;
    }
    #el4{
        grid-row: 3;
        grid-column: 1;
    }
    #el5{
        grid-row: 3;
        grid-column: 2;
    }
    #el6{
        grid-row: 3;
        grid-column: 3;
    }
    #el7{
        grid-row: 4;
        grid-column: 1;
    }
    #el8{
        grid-row: 4;
        grid-column: 2;
    }
    #el9{
        grid-row: 4;
        grid-column: 3;
    }
    #el10{
        grid-row: 5;
        grid-column: 1;
    }
    #el11{
        grid-row: 5;
        grid-column: 2;
    }
    #el12{
        grid-row: 5;
        grid-column: 3;
    }

    

    .container{
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(3, 3% 15% 15%);
    }
    .type_title{
        grid-column: span 3;
    }
    #txt1{
        grid-column: 1;
        grid-row: 3;
    }
    #txt2{
        grid-column: 2;
        grid-row: 3;
    }
    #txt4{
        grid-column: 1;
        grid-row: 6;
    }
    #txt5{
        grid-column: 2;
        grid-row: 6;
    }
    #txt7{
        grid-column: 1;
        grid-row: 9;
    }
    #txt8{
        grid-column: 2;
        grid-row: 9;
    }
}

@media screen and (min-width: 1280px) {
    .photos img{
        width: 20%;
    }
    
    .genres{
        margin-top: 2%;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 33% 33% 33%;
        row-gap: 4%;
    }
    .col_title{
        display: none;
    }
    
    #el1{
        grid-row: 1;
        grid-column: 2;
    }
    #el2{
        grid-row: 2;
        grid-column: 2;
    }
    #el3{
        grid-row: 3;
        grid-column: 3;
    }
    #el4{
        grid-row: 1;
        grid-column: 1;
    }
    #el5{
        grid-row: 2;
        grid-column: 1;
    }
    #el6{
        grid-row: 3;
        grid-column: 1;
    }
    #el7{
        grid-row: 1;
        grid-column: 4;
    }
    #el8{
        grid-row: 2;
        grid-column: 4;
    }
    #el9{
        grid-row: 3;
        grid-column: 4;
    }
    #el10{
        grid-row: 1;
        grid-column: 3;
    }
    #el11{
        grid-row: 2;
        grid-column: 3;
    }
    #el12{
        grid-row: 3;
        grid-column: 2;
    }


    .title{
        display: inline-block;
        margin: auto;
        padding: 14px 16px;
    }
    .navbar{
        display: inline-flex;
        float: right;
        padding: 0%;

    }
    .nav-links a, .active a{
        display: block;
        padding: 14px 16px;
        font-size: xx-large;
    }
    .container{
        grid-template-columns: repeat(6, 16.5%);
        grid-template-rows: 3% 30% 30% 30%;
    }
    .type_title:first-child{
        grid-row: 1;
        grid-column: 1 / 3;
        
    }
    #title2{
        grid-row: 1;
        grid-column: 3 / 5;
    }
    #title3{
        grid-row: 1;
        grid-column: 5 / 7;
    }
    #txt1{
        grid-row: 2;
        grid-column: 2;
    }
    #txt2{
        grid-row: 3;
        grid-column: 2;
    }
    #txt3{
        grid-row: 4;
        grid-column: 2;
    }
    #txt4{
        grid-row: 2;
        grid-column: 4;
    }
    #txt5{
        grid-row: 3;
        grid-column: 4;
    }
    #txt6{
        grid-row: 4;
        grid-column: 4;
    }
    #txt7{
        grid-row: 2;
        grid-column: 6;
    }
    #txt8{
        grid-row: 3;
        grid-column: 6;
    }
    #txt9{
        grid-row: 4;
        grid-column: 6;
    }
    #img1{
        grid-row: 2;
        grid-column: 1;
    }
    #img2{
        grid-row: 3;
        grid-column: 1;
    }
    #img3{
        grid-row: 4;
        grid-column: 1;
    }
    #img4{
        grid-row: 2;
        grid-column: 3;
    }
    #img5{
        grid-row: 3;
        grid-column: 3;
    }
    #img6{
        grid-row: 4;
        grid-column: 3;
    }
    #img7{
        grid-row: 2;
        grid-column: 5;
    }
    #img8{
        grid-row: 3;
        grid-column: 5;
    }
    #img9{
        grid-row: 4;
        grid-column: 5;
    }
}
